@import "tailwindcss";

.clip-diagonal {
  clip-path: polygon(15% 0%, 100% 0%, 100% 100%, 0% 100%);
}

/* hide scrollbar */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
